* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-image: url("../images/notenblatt-1419629_1280.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header      { grid-area: header; }
sidebar     { grid-area: sidebar; }
main        { grid-area: main; }
right       { grid-area: right; }

.grid-container {

    display: grid;
    grid-template-areas: 
                        ". header ."
                        "sidebar main ."
                        ". main .";
    grid-gap: .3em;
}

.grid-container > div {
    padding: .1rem;
    height: 100%;

}

header {
    width: 80%;
    text-align: center;
    padding: 5vh;
    font-size: 5vh;
    margin: 10vh auto auto;
}

sidebar {
    background-image: url("../images/parchment.gif");
    background-size: cover;
    margin-left: 1em;
    padding: 2vw;
    width: 60%;
    height: 100%;
}

sidebar h3{
    margin: 5vh auto auto 1vw;
    padding: 1rem;
    opacity: .7;
    font-size: 1.5em;

}

.right {
    grid-template-areas: right;
}

main {
    background-image: url("../images/redcurtain.png");
    background-size: cover;
    height: 70vh;
    border: 1em ridge rgba(111, 149, 180, 0.432);
    border-radius: .5em;
       
}

.disWord {
    background-color: rgba(75, 14, 14, 0.733);
    border: .2em dotted rgb(241, 217, 172);
    margin: auto auto;
    text-align: center;
    padding: 3vw;
    width: 60%;
}

#currentword {
    color: antiquewhite;
    font-size: 3vw;
}

.disGif {
    grid-column: span 2;
    grid-row: span 2;
    margin: 5vh auto auto;
}

img {
    border: .6em ridge rgba(119, 164, 190, .6);
    display: block;
    margin: auto auto;
    width: 40vw;
    height: 30vh;

}

