* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom right, rgb(31, 103, 197), rgba(236, 229, 167, 0.753), rgb(235, 66, 66));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Julee', cursive;


}

header      { grid-area: header; }
sidebar     { grid-area: sidebar; }
main        { grid-area: main; }
right       { grid-area: right; }

.grid-container {

    display: grid;
    grid-template-areas: 
                        ". header ."
                        "sidebar main ."
                        ". main .";
    grid-gap: .2em;
}

.grid-container > div {
    padding: .1rem;
    height: 100%;

}

header {
    background-image: url("../images/notenblatt-1419629_1280.png");
    background-repeat: no-repeat;
    width: 80%;
    text-align: center;
    padding: 5vh;
    font-size: 3vw;
    margin: 2vh auto auto;
}

sidebar {
    background-image: url("../images/parchment.gif");
    background-color: antiquewhite;
    border: .3em inset rgba(99, 86, 74, 0.507);
    border-radius: .8rem;
    background-size: cover;
    margin-left: 3vw;
    padding: 2vw;
    width: 20vw;
    height: 58vh;
}

button {
    border-radius: 20%;
    margin: 5rem auto .2rem 7vw;
    height: 6vh;
    width: 6vw;
    box-shadow: 0 0 .3em rgba(75, 14, 14, 0.6);
    opacity: .7;
}

button :hover {
    cursor: pointer;
}

svg {
    height: 5vh;
    width: 5vw;
}

sidebar h3{
    margin: 5vh auto auto 1vw;
    padding: .5rem;
    opacity: .7;
    font-size: 1.5vw;
    text-shadow: 0 0 .3em rgba(75, 14, 14, 0.6)

}

main {
    background-image: url("../images/redcurtain.png");
    background-size: cover;
    height: 60vh;
    margin-top: 1vh;
    border: 1em inset rgba(111, 149, 180, 0.432);
    border-radius: .5em;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.349);
       
}

.disWord {
    background-color: rgba(12, 3, 3, 0.411);
    border: .2em dotted rgb(241, 217, 172);
    margin: 2vh auto auto;
    text-align: center;
    padding: 3vw;
    width: 60%;
}

#currentword {
    color: antiquewhite;
    font-size: 3vw;
}

.disGif {
    grid-column: span 2;
    grid-row: span 2;
    margin: 5vh auto auto;
}

img {
    border: .6em ridge rgba(119, 164, 190, .6);
    display: block;
    margin: auto auto;
    width: 40vw;
    height: 30vh;

}

